html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.modal-overlay, .picker-modal-overlay, .popup-overlay, .preloader-indicator-overlay {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition-duration: 0.4s;
    visibility: hidden;
    width: 100%;
    z-index: 13000;
}
.modal-overlay.modal-overlay-visible, .picker-modal-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible {
    opacity: 1;
    visibility: visible;
}

.modal.modal-in {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale(1);
    transition-duration: 0.4s;
}

.modal.modal-out {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) scale(0.815);
    transition-duration: 0.4s;
    z-index: 13499;
}

.modal {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: #757575;
    display: none;
    font-size: 16px;
    left: 50%;
    margin-left: -140px;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(0px, 0px, 0px) scale(1.185);
    transition-property: transform, opacity;
    width: 280px;
    z-index: 13500;
}

.modal-inner {
    padding: 24px 24px 20px;
    position: relative;
}

.modal-title {
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

.modal-title + .modal-text {
    margin-top: 20px;
}
.modal-text {
    line-height: 1.5;
}



.navbar, .subnavbar, .toolbar{
	background: #2196F3;
}

.navbar-inner .center img{
	margin-top: 20px;
}



#home{
	margin: 0px;
}

.icon{
	font-family: 'fontello';
}

.list-block ul {
	background: #1F96F2;
}

.list-block ul li { 
	color: #FFF;

}

.list-block ul li a{
	border-bottom: 1px solid #FFF;
	color: #FFF;
}

.list-block ul li:last-child a{
	border-bottom: none;
}

.list-block .item-content{
	font-size: 16px;
	padding-left: 5px !important;
}

.list-block .item-title i{
	font-size: 35px;
}

.navbar{
	margin-top: 23px;
    padding: 30px 0;
     box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
}

html , body{
    margin: 0px;
    padding: 0px;
}

.page{
    display: none;
    position: absolute;
}

.page[data-page="main"]{
	display: block;
}

header{
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80); 

    


}