.home-slider {
    height: 250px;
    width: 100%;
}

.navbar, .subnavbar, .toolbar{
	background: #2196F3;
}

.navbar-inner .center img{
	margin-top: 20px;
}


.preloader {
    border-color: #4caf50;
}

.swiper-slide{
	max-height: 250px;
	overflow: hidden;
}

.swiper-slide img{
	min-width: 100%;
	max-width: 100%;
}

#home{
	margin: 0px;
}

.icon{
	font-family: 'fontello';
}

.list-block ul {
	background: #1F96F2;
}

.list-block ul li { 
	color: #FFF;

}

.list-block ul li a{
	border-bottom: 1px solid #FFF;
	color: #FFF;
}

.list-block ul li:last-child a{
	border-bottom: none;
}

.list-block .item-content{
	font-size: 16px;
}

.navbar{
	margin-top: 23px;
    padding: 30px 0;
     box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.80);
}

html , body{
	background: #1F96F2;
}

