/* ADD CUSTOM */

body {
	font-family: Arial;
	background: #FF0000;
	font-family: 'robotoregular';
	overflow: hidden;
} 
   

header{
    /* margin-top: 23px; */
    padding: 10px 0px;
    background: #FF0000;
    position: relative;
    z-index: 9;
}

header.nav{
    position: absolute;
    width: 100%;
    height: 20px;
}

.slogan{
		color:#FFF;
		font-size: 35px;
		font-weight: bold;
		padding: 15px 0px;
}

.icon{
	font-family: 'creandoapp'
}
.page{
	z-index:0;
}

.page[data-page="contenido"]{
	background: #FFF;
}


.preloader {
    border-color: #4caf50;
}

#home-slider , #slide-contenido{
	width: 100%;
	height: 250px;
 	display: block;
	overflow: hidden;
}

#slide-contenido{
	height: 90%;
    background: url(../images/logo-LMB-transparent.gif) center 100px no-repeat #FFF;
}

#slide-contenido .content-img{
	height: 301px;
	overflow: hidden;
}

#slide-contenido .title , #slide-contenido .leyenda ,  #slide-contenido .boton {
		display: block;
		padding: 5px;
		color: #000;
		text-align: center;
		margin:10px 0px;
        font-weight:bold;
}
#slide-contenido .leyenda{
	font-size: 11px;
	padding: 5px 10px;
	font-weight: normal;
}

#slide-contenido .descp{
	font-size: 13px;
	padding: 5px 10px;
	font-weight: normal;
    text-align:center;
    color:red;
}

#slide-contenido .owl-dots {
	margin-top: -274px !important;
}

#slide-contenido .boton button {

		padding: 10px;
		border-radius: 7px;
		background: red;
		border: 0px solid #FFF;
		color: #FFF;


}

#cupon-info{
	background: #FFF;
	height: 90%;
	overflow: auto;
	display: block;
	padding: 10px;
	width: 95%;
}


.cupon-info .content-img img{
	width: 100%;
	height: 250px;
}

.cupon-info{
	font-size: 18px;
	text-align: center;
	padding:5px;
	margin: 10px 0px;
}
.cupon-info .title{
	margin: 10px 0px;
    font-weight:bold;
}
.cupon-info .leyenda{
	font-family: 'robotoregular';
	font-size: 12px;
	margin: 20px 0px;
}

.cupon-info .box-cupon{
	text-align: center;
}

.cupon-info .cupon-number{
	padding:10px 10px;
    text-align: center;
    display: inline-block;
    border: 2px solid red;
    border-radius: 7px;
    margin: 20px 0px;
    font-family: 'press_startregular';
}

.cupon-info .info{
	font-size: 12px !important;
	padding-bottom: 10px; 
}

.cupon-info .rescon{
	font-size: 12px !important;
	padding:20px 0px;
    color: red; 
}


.cupon-compartir i{
	font-size: 40px !important;
} 

.swiper-container . .swiper-container1{
	background: url(../images/bg_load_image.gif) center center no-repeat #FFF;
	height: 250px;
}
 
.owl-dots {
    margin-top: -63px;
    position: relative;
    width: 100%;
    text-align: center;
}

.owl-dot {
	display: inline-block;
}

.owl-dots .owl-dot span {
    backface-visibility: visible;
    background: rgba(0,0,0,0.5); none repeat scroll 0 0;
    border-radius: 30px;
    display: block;
    height: 10px;
    margin: 5px 7px;
    transition: opacity 0.2s ease 0s;
    width: 10px;
    border: 2px solid #FFF;
}

.owl-dot.active span{
	background: red;
}
 
.list-option ul{
	margin: 0px;
	padding: 0px;
}

.list-option ul li {
	color : #FF0000;
	padding: 12px 5px;
	cursor: pointer;
	border-bottom: 1px  dotted #FF0000;
	font-size: 24px;
}

/*
.list-option ul li:hover{
	background: #FFF;
	color: #1F96F2;

}

*/

.list-option ul li i{
	font-size: 24px;
}

.navegacion{
	color: #FFF;
}

.navegacion span{
	 
    display: block;
}

.action-back{
	display: block;
	width: 30px;
	height: 30px;
	color: #FFF;
	float: left;
	margin-left: 5px;
	margin-right: 15px;
	cursor: pointer;
}

.action-back i {
	font-size: 30px;
    margin-top: -5px;
    display: block;
}

.res-bar , .hot-tur , .com-ser , .sal-bel{
	display: block;
	width: 50px;
	height: 50px;
	background: url('../images/res-bar.png') no-repeat;
	background-position:  center center;
 
	float: left;
	margin-right: 10px;
	margin-top: -8px
}

.hot-tur{ background: url('../images/hot-tur.png') no-repeat; 	}
.com-ser{ background: url('../images/com-ser.png') no-repeat;	}
.sal-bel{ background: url('../images/sal-bel.png') no-repeat;	}
#logo-home{ padding-top: 0px; text-align: center; }

#logo-home img { 
	width: 100%;
}

.list-option , #logo-home , .box-content{
    background: #FFF;
} 

.box-content{
    background: #FFF;
    display: block;
    height: 100%;
} 

#grid{
    margin: 0px;
    padding: 0px;
    padding-top:40px;
    background: #FFF;
}

#grid li{
    background: #FEFEFE;
    display: flex;
    width: 116px;
    height: 116px;
    margin: 2px;
    float: left;
}

#grid li img{
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}